@charset "UTF-8";
/* フォントの導入 -----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* コンテンツ幅以下可変レイアウト -----------------------------------------*/
html {
  font-size: 2.5641025641vw;
  /* 390はSPデザインカンプの幅 */
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
    /* 1200はPCカンプのコンテンツ幅 */
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
/* スムーススクロール -----------------------------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

/* ページ読み込み時に全体フェードイン ---------------------------*/
@media (prefers-reduced-motion: no-preference) {
  body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
/* 変数 -----------------------------------------*/
/* 全体的な設定 -----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 1.75;
  background-color: #fff;
  color: #333;
}

/* boostrapのcssリセット */
p,
dl,
dd,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* 共通クラス -----------------------------------------*/
.cmn__container {
  max-width: 100%;
  padding: 7rem 1.6rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cmn__container {
    max-width: 120rem;
    padding: 5rem 2rem 15rem;
  }
}

/* TOPページのタイトル */
.title__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title__first-letter {
  color: #46c4db;
  font-size: 4.5rem;
  font-weight: 700;
}

.title--en {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.05em;
}

.title--jp {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05em;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .title--jp {
    margin-bottom: 5rem;
  }
}

/* 下線のあるタイトル */
.sub-title__wrapper {
  display: flex;
  align-items: flex-end;
}

.sub-title__unm {
  font-size: 3.5rem;
  color: #46c4db;
  margin-right: 0.8rem;
}
@media (min-width: 768px) {
  .sub-title__unm {
    font-size: 4rem;
  }
}

.sub-title {
  width: 100%;
  position: relative;
  border-bottom: solid 3px #ddd;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .sub-title {
    font-size: 3rem;
  }
}

.sub-title:after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: solid 3px #46c4db;
  bottom: -3px;
  width: 15%;
}

/* ヘッダーここから -----------------------------------------*/
.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1.6rem;
}
@media (min-width: 768px) {
  .header__container {
    height: 7rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 16.5rem;
  color: #333;
  transition: color 0.3s ease;
}
.header__logo:hover {
  color: #46c4db;
}
@media (min-width: 768px) {
  .header__logo {
    width: 24rem;
  }
}

/* ハンバーガーメニューの3本線ボタン */
.hamburger {
  width: 6rem;
  height: 6rem;
  background-color: #46c4db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.68rem;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  width: 3rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

/* SP表示のナビメニュー（ハンバーガーメニューの中）ここから */
.header__nav-sp {
  position: fixed;
  top: 6rem;
  right: -100%;
  width: 100%;
  padding: 0 1.6rem;
  background-color: #46c4db;
  z-index: 1000;
  transition: right 0.3s ease;
}

.header__nav-sp.active {
  right: 0;
}

.header__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__list {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 4.8rem;
         column-gap: 4.8rem;
    font-size: 2.4rem;
    font-weight: 500;
  }
}

.header__list-line {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.header__text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  padding: 1.8rem 0;
}
@media (min-width: 768px) {
  .header__text {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s ease;
  }
  .header__text:hover {
    color: #46c4db;
  }
}

/* PC表示のときはハンバーガーボタンとナビメニューを隠す */
@media (min-width: 768px) {
  .hamburger,
  .header__nav-sp {
    display: none;
  }
}
.header__nav-pc {
  display: none;
}
@media (min-width: 768px) {
  .header__nav-pc {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__button {
    display: inline-block;
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: #46c4db;
    border-radius: 3.4rem;
    border: 2px solid #46c4db;
    padding: 1.2rem 3rem;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }
  .header__button:hover {
    color: #46c4db;
    background-color: #fff;
  }
}
/* メインここから -----------------------------------------*/
.main {
  margin-top: 6rem;
}
@media (min-width: 768px) {
  .main {
    margin-top: 7rem;
  }
}

/* ヒーロービュー -----------------------------------------*/
.hero {
  width: 100%;
  height: 45rem;
  background-image: url(/assets/image/main_visual_sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15rem;
}
@media (min-width: 768px) {
  .hero {
    height: 72rem;
    background-image: url(/assets/image/main_visual_pc.jpg);
  }
}

.hero__container {
  max-width: 39rem;
  margin: 0 auto;
  padding: 2rem 2.3rem;
}
@media (min-width: 768px) {
  .hero__container {
    max-width: 120rem;
    padding: 3.2rem 7.3rem;
  }
}

.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Y位置を画像よりも下にする */
  margin-top: 40rem;
}
@media (min-width: 768px) {
  .hero__title-wrapper {
    margin-top: 23rem;
  }
}

.hero__title {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 0.15em;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 5rem;
    line-height: 1.36;
  }
}

.hero__title--small {
  font-size: 1.8rem;
  letter-spacing: 0.3em;
}
@media (min-width: 768px) {
  .hero__title--small {
    font-size: 2.5rem;
  }
}

/* Works 制作実績 -----------------------------------------*/
.works__container {
  max-width: 100%;
  padding: 3rem 1.6rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .works__container {
    max-width: 120rem;
    padding: 10rem 2rem;
  }
}

/* スライダーの設定 */
.swiper__container {
  position: relative;
  width: 28rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .swiper__container {
    width: 100rem;
  }
}

.works__card {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .works__card {
    width: 30rem;
  }
}

.works__picture {
  width: 100%;
  height: 26rem;
}
@media (min-width: 768px) {
  .works__picture {
    height: 26rem;
  }
}

.works__title {
  font-size: 2rem;
  font-weight: 600;
}

.works__text {
  font-size: 1.4rem;
}

/* デフォルトの矢印を消す */
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev:after {
  content: "";
}

/* 次への矢印 */
.swiper-button-next {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-image: url(../image/circle_arrow_right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 13rem;
  right: -3.5rem;
  z-index: 100;
}
@media (min-width: 768px) {
  .swiper-button-next {
    width: 4rem;
    height: 4rem;
    right: -8.8rem;
  }
}

/* 前への矢印 */
.swiper-button-prev {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../image/circle_arrow_left.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 13rem;
  left: -3.5rem;
  z-index: 99;
}
@media (min-width: 768px) {
  .swiper-button-prev {
    width: 4.8rem;
    height: 4.8rem;
    left: -8.8rem;
  }
}

/* ドットの大きさを変更 */
.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}

/* ドットの非アクティブ色を変更 */
.swiper-pagination-bullet {
  background-color: #ecebeb;
  opacity: 1;
}

/* ドットのアクティブ色を変更 */
.swiper-pagination-bullet-active {
  background-color: #46c4db;
}

/* ページネーション（ドット）のY位置 */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5rem;
}

/* Service サービス------------------------------------*/
.service__btn-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .service__btn-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.service__btn {
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-radius: 50%;
  border: 2px solid #46c4db;
  background-color: #46c4db;
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}
.service__btn:hover {
  color: #46c4db;
  background-color: #fff;
}

.service__btn-box {
  /* ボタン内の文字群を縦並びにする */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.service-btn__num {
  font-size: 3rem;
  font-weight: 500;
}

.service-btn__text {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

/* About 私について -----------------------------------------*/
.about__wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .about__wrapper {
    max-width: 90rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.about__photo {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .about__photo {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
  }
}

.about__name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about__text {
  font-size: 1.4rem;
}

/* TOPへ戻るボタン------------------------------------*/
.btn__container {
  max-width: 39rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  left: 0;
  bottom: 5rem;
  z-index: 1000;
}
@media (min-width: 768px) {
  .btn__container {
    max-width: 120rem;
  }
}

.btn__back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background-color: #46c4db;
  border: 2px solid #46c4db;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease, background-color 0.5s ease, border 0.3s ease;
}

/* ボタン表示 */
.btn__back-to-top.show {
  opacity: 1;
}

.btn__back-to-top:hover {
  color: #46c4db;
  background-color: #fff;
}

.icon-middle {
  font-size: 3.5rem;
  line-height: 1;
  /* アイコンの上下余白をリセット */
  display: inline-block;
  vertical-align: middle;
}

/* TOPへ戻るここまで------------------------------------*/
/* フッターここから------------------------------------*/
.footer__container {
  background-color: #46c4db;
  color: #fff;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__copy {
  display: inline-block;
  font-size: 1.2rem;
}

/* フッターここまで------------------------------------*/
/* サービス詳細ページ------------------------------------*/
.service__container {
  max-width: 100%;
  padding: 7rem 1.6rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .service__container {
    max-width: 120rem;
    padding: 10rem 10rem;
  }
}

@media (min-width: 768px) {
  .service__list {
    padding: 0 8rem;
  }
}

.service__box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .service__box {
    max-width: 110rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon-category__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
}

.icon-category {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #21364d;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}

.service__image {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .service__image {
    width: 42rem;
    height: 28rem;
  }
}

.service__tools {
  margin-top: 2rem;
}

/* サービス詳細ページのページネーション */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 0;
}

.pagination > * + * {
  margin-left: 1rem;
}

.pagination__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 3rem;
  height: 3rem;
  background: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.15s linear;
}

.pagination__item-link-icon {
  width: 1.5rem;
}

.pagination__item-link.isActive {
  pointer-events: none;
  background: #46c4db;
  color: #fff;
}

.pagination__item-link:not(.isActive):hover {
  color: #46c4db;
}/*# sourceMappingURL=main.css.map */